<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
        <title>{{ title }}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'detail.css' %}">
</head>
<body>
<div class="slideshow-container">

    {% for number in object_list %}
<div class="mySlides fade">
  <div class="numbertext">{{ forloop.counter }} / {{ count }}</div>
    <a href="{% url 'number_detail' pk=number.pk %}"><img src="{{ number.number_image.url }}" style="width:100%"></a>
</div>
    {% endfor %}
<a class="prev" onclick="plusSlides(-1)">❮</a>
<a class="next" onclick="plusSlides(1)">❯</a>

</div>
<br>

<div style="text-align:center">
    {% for dot in object_list %}
  <span class="dot" onclick="currentSlide({{ forloop.counter }})"></span>
    {% endfor %}
</div>
<script src="{% static 'js/detail.js' %}"></script>
</body>
</html>